body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
}

.mater-all {
  height: 50vh;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      rgba(24, 20, 97, 0.40940126050420167) 0%,
      rgba(24, 20, 97, 0.4290091036414566) 35%,
      rgba(24, 20, 97, 0.4234068627450981) 100%
    ),
    url("../images/background2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mater-all h1 {
  font-size: 53px;
  line-height: 64px;
  font-weight: 200;
  color: #e9e9e9;
  text-align: center;
}

/* ===== section zajima ===== */

.zajima {
  width: 60%;

  margin: auto;
}

.zajima h1 {
  font-size: 26px;
  line-height: 36px;
  color: #1c1c1c;
  font-weight: 300;
  margin-top: 30px;
}

.zajima p {
  font-size: 12px;
  line-height: 19px;
  color: #424242;
  font-weight: 600;
  margin-top: 10px;
}

/* ===== section cesta ===== */

.cesta h1,
.prace h1,
.skolkovne h1 {
  font-size: 38px;
  line-height: 53px;
  color: #1c1c1c;
  font-weight: 200;
  margin-top: 80px;
}

.cesta p,
.prace p,
.skolkovne p {
  font-size: 18px;
  line-height: 29px;
  color: #636363;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.skolkovne li {
  font-size: 16px;
  line-height: 26px;
  color: #636363;
  font-weight: 400;
  list-style: none;
}

.skolkovne li::before {
  content: "\2022";
  color: #edce6b;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: 2em;
}

button {
  margin-top: 20px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  color: white;
  background-color: #42241d;
  border: none;
  cursor: pointer;
  padding: 13px;
  border-radius: 3px;
  text-align: center;
}

button:hover {
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  color: #42241d;
  background-color: transparent;
  border: #42241d 1px solid;
  cursor: pointer;
  padding: 13px;
  border-radius: 3px;
  text-align: center;
  transition: 0.5s ease-in-out;
}

/* ==== the 3 blok ==== */

.the-real-blog {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.blok {
  border: 1px solid rgba(0, 0, 0, 0.158);
  -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.27);
  border-radius: 5px;
  height: 250px;
  margin-left: 10px;
  padding-left: 15px;
}

.blok:hover {
  transform: scale(1.01);
  transition: 0.1s ease-in-out;
}

.blok h1 {
  font-size: 20px;
  line-height: 33px;
  color: #1c1c1c;
  font-weight: 400;
}

.blok p {
  font-size: 16px;
  line-height: 26px;
  color: #1c1c1c;
  font-weight: 200;
}

.blog_img {
  margin-top: 15px;
}

.blog_img:hover {
  cursor: pointer;
  margin-left: 5px;
  transition: 0.1s all ease-in-out;
  background-color: #42241d;
  border: none;
  border-radius: 50%;
}
